#cf-problem-rating .cf-metadata-content {
  min-height: 1.7em;
  overflow: hidden;
  padding: 0.5em;
}

#cf-problem-rating .cf-metadata-pill {
  background-color: #f0f0f0;
  float: left;
  margin: 2px;
  padding: 0 3px 2px;
}

#cf-problem-rating .cf-metadata-pill .tag-box {
  font-size: 1.2rem;
}

#cf-problem-rating .cf-rating-status {
  color: #777;
  display: block;
  font-size: 0.8em;
  margin: 2px;
}

table.problems .cf-contest-rating-header,
table.problems .cf-contest-rating-cell {
  text-align: center;
  white-space: nowrap;
  width: 5.5em;
}

table.problems .cf-contest-rating-cell {
  font-size: 1.1rem;
  font-weight: 700;
}

table.problems .cf-problemset-rating-cell {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

table.problems .cf-rating-unavailable {
  color: #777;
  font-weight: 400;
}
